<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vacansii_Babash.Properties.Settings.RP21_BD_BabashConnectionString"
            connectionString="Data Source=class31000;Initial Catalog=RP21_BD_Babash;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>